#navbar{
    font-family: sans-serif;
    background-color:none;
    text-align:right;
    height:70px;
    line-height:70px;
    position:fixed;
    z-index:3;
    width:100%;
    
}

.menu{
    margin: 0 30px 0 30px;
}
.menu a{
    color:black;
    text-decoration:none;
    margin: 0 10px;
    line-height:70px;
    clear:right;
   
}

.menu a:hover{
    background-color:white;
}

.nav .logo{
    float:left;
    font-size: 20px;
    padding:10px 20px;
    text-decoration: none;
    color:black;

}
label{
    margin:0 40px 0 0;
    font-size:26px;
    line-height:70px;
    display:none;
    width:26px;
    float:right;

}

#toggle{
    display:none;
    margin-left: 20px;
}


  
.nav{
    grid-area:nav;
    width:100%;
}
.intro{
    text-align:center;
    justify-content: center;
    font-family:gilroy, sans-serif;
    font-size:30px;
    font-weight:300;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin-top:30px;
    grid-area:intro;
       
}
/* .typingHeader {
    display: table;
    margin: auto;
}
.typingHeader h1 {
    display: table-cell;
}
 */

/* .typingAbout{
margin-right:30px;
}
 */
.typing::after{
    content:"";
    position:absolute;
    width:1px;
    height:5%;
    border-right:2px solid black;
    animation:blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.introbox{
    /* display:flex;
    flex-direction:row;
    justify-content: center; */
    justify-content:center;
    grid-area:introbox;
}

h1{
    font-family:gilroy, sans-serif;
    font-weight:300;
    font-size:50px;
    letter-spacing: 1px;
   

}

.introbox2{
    display:grid;
    justify-content:center;
    gap:1rem;
    grid-template-areas: "intro selfie";
}

.bodycontent{
    grid-area:bodycontent;

}

.selfie{
    height:auto;
    width:500px;
    padding-top:100px;
    grid-area:selfie;
}

#introparagraph{
    font-size:20px;
    padding-left:20px;
}
.AboutMe{
    padding:10px;
    color:black;
}

.skills{
    padding:10px;
}

.resume{
    padding:10px;
}


.containergrid{
    background-color:whitesmoke;
    padding:10px;
    display:grid;
    gap:1rem;
    justify-content:center;
    grid-template-areas:
    "nav"
    "introbox"
    "bodycontent"
    "footer";
   
}

.description { 
    padding-left: -100px;
}



.button2{
    color:black;
    background-color: transparent;
    width:100px;
    padding:10px;
    border: none;
    border-radius: 20px;
    font-size:15px;
    transition:all 0.5s ease;

}

.button2:hover{
    background: black;
    color: whitesmoke;
    width:150px;
}


.center{
    height:auto;
    width:80%;
    margin-right: 5%;
    transition:all .2s ease-in-out;
}

.center:hover{
   transform:scale(1.1);
}

#centerGA{
    margin-left:15%;
}
p{
    text-align: left;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 20px;
}

h2{
    text-align:left;
    font-family: sans-serif;
}

/* <--skills-section--> */

.flexcontainer{
    display:inline-block;

    font-family: sans-serif;
}

#uxskills{
    font-family: sans-serif;
}

@media only screen and (max-width:480px)
{.intro{width:270px;}
}

@media only screen and (min-width:480px)and
(max-width:480px)
{img{width:95%}

}

@media only screen and (min-width:768px)and (max-width:1024px)and (orientation:landscape){}

.col-main {
    flex: 1;  
  }  
  
  .col-complementary {
    flex: 1;  
  }
  
  /* Responsive: */
  
  @media only screen and (min-width: 640px) {
    .layout  {
      display: flex;
      grid-template-areas:
      "selfie"
      "intro";
    }
  }

  @media only screen and (max-width:800px){
      label{
          display:block;
          cursor:pointer;
      }
      .menu{
          text-align:center;
          width:100%;
          display:none;
      }

      .menu a {
          display:block;
          border-bottom: 1px solid #EAEAEB;
          margin:0;
          background-color:lightgray;
      }
      #toggle:checked + .menu{
          display:block;
      }
  }

  @media only screen and (max-width:640px){
      .introbox2{
          grid-template-areas:
          "selfie"
          "intro";
          width:80%;
          padding:1rem 1rem 1rem 1rem;
          max-width:35rem;
      }
  }
  
  /* etc */
  
  html, body {
    font-family: gilroy sans-serif;
    margin:0 0;
    width:100%;
    height:100%;
  }
  
  .container {
    max-width: 100em;
    margin-right: auto;
    margin-left: auto;
    margin-top:40px;
    
  }
  
  .col {
    padding: 1em;
    margin: 0 2px 2px 0;
    background:none;
  }
  
  footer{
    background-color:#373738;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom:0;
    width:100%;
    height:20vh;
    grid-area:footer;
}


li{
    list-style-type:none;
    flex-direction:row;
    padding:20px 20px 20px 20px;
    float:left;

}


